@model RegisterViewModel

<div class="row">
    <div class="col-md-4">
        <form asp-controller="account" asp-method="register" method="post">
            <h1 class="h3 mb-3 fw-normal">Register now</h1>

            <div class="form-floating">
                <input asp-for="CompanyName" class="form-control" placeholder="Company name">
                <label for="floatingInput">Company name</label>
                <br />
                <span class="text-danger" asp-validation-for="CompanyName"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                <label for="floatingPassword">Password</label>
                <br />
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
        </form>
    </div>
</div>